<div id="footer">


    <ul class="list-inline icons">
      <li class="h"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></li>
      <li class="p"><i class="fa fa-twitter fa-2x"></i></li>
      <li class="k"><i class="fa fa-linkedin fa-2x"></i></li>

    </ul>

    <div class="text-footer">
      <h3>This is a Airbnb Home challenge @ LeWagon</h3>
    </div>




</div>
